/* General Layout and Reset */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.page {
    padding: 10px;
    margin: 20px;
    position: relative;
}

/* Footer Styles (Aligned to the Bottom) */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 134, 216);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

/* Product Container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 50px;
    /* To prevent overlap with footer */
}

/* Page Section (Each Section Contains 4 Items) */
.page-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(34, 134, 216);
    text-align: left;
    margin-bottom: 15px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.info {
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.SKU {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.mainDiv {
    margin-top: auto;
}

.price {
    background-color: rgb(34, 134, 216);
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Print Styles */
@media print {

    html,
    body {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #333;
    }

    .footer {
        position: fixed;
        bottom: 0;
        text-align: center;
        font-size: 14px;
    }

    .page {
        margin: 0;
    }

    .page-section {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .product-card {
        page-break-inside: avoid;
    }
    .contact-info {
        display:flex;
        align-items: center;
        justify-content: space-around;
    }

    @page {
        size: A4;
        margin:5mm;
    }
}