.product_form{
    margin: 120px;
}
input{
    height: 70px;
}
label{
    font-size: large;
    font-weight: 600;
}
select
{
    height: 80px;
    width: 100%;
    border: 4px solid rgb(76, 76, 133);
}
button{
    margin-top: 30px;
    width: 100%;
    height: 80px;
font-size: xx-large;
}
option
{
font-size:large
}

